<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Non Veg</title>
    <style>
    .img-container {
    margin: 0 1rem;
    position: relative;
}

.img-content {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    z-index: 2;
    text-align: center;
    transition: all 0.4s ease-in-out 0.1s;
}
</style>
</head>
<body>
<div class="food-type grain">
   <h3> <a href="category">Back</a></h3>
                    <div class="img-container">
                        <img src="static/images/img_17.png" alt="grain">
                        <div class="img-content">
                            <h3>Non Veg</h3>
                            <a href="nonveg" class="btn btn-primary">Learn More</a>
                        </div>
                    </div>
                </div>
</body>
</html>